.virtual_list {
  position: relative;
}

.ske_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.render_box {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  // overflow: hidden;
  opacity: 0;
}
